/* MIXIN */
/* HEADER */
.headercontainer {
  background-color: #FFD6FF;
  border-bottom: #FFC2FF 2px solid !important;
}

.title {
  text-shadow: #660066 1px 1px;
}

.nav-item {
  padding-inline-start: 10px !important;
}

.headeritem {
  color: #660066 !important;
}
.headeritemhover {
  color: #FF99FF !important;
}

/* MIXIN */
/* FOOTER */
.footercontainer {
  background-color: #3D003D;
  border-top: solid 2px #FFC2FF !important;
}

.pull-left {
  margin-left: 25px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
}

.footer-title {
  font-size: 18px;
  color: #ffdcff;
}

.footer-address {
  padding-top: 30px;
  color: white;
}

.phone {
  text-decoration: none;
  color: white;
}
.phone:hover {
  color: #FFC2FF;
}

.pull-rigth {
  margin-right: 25px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
}

.icon {
  padding-inline-start: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #ffdcff;
}
.icon:hover {
  color: #FFC2FF;
  text-shadow: #fff5ff 1px 1px 3px;
}

/* MIXIN */
/* MIDSECTION */
.section-central {
  padding: 40px;
  background-color: #FFEBFF;
}

/* CAROUSEL */
.carouselfont {
  color: black;
}

.carouselbox {
  margin: 20px;
  border: #ffdcff 2px solid !important;
}

.carousel-title {
  font-size: 24px;
  color: #b300b3;
  text-shadow: black 1px 1px 10px;
}

.banner {
  margin-top: 30px;
  padding: 40px 0;
  align-items: center;
}

.banner-item {
  display: flex;
  justify-content: center;
}

.banner-text {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

/* CARDS */
.cardbox-index {
  border: #ffdcff 2px solid !important;
}

.card-aling {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.card-container {
  padding: 150px 20px;
}

.card-title {
  font-size: 20px;
  text-align: center;
  color: #660066;
}

.boton-cards {
  color: #660066 !important;
  background-color: #FFC2FF;
  margin: 12px;
  padding: 4px;
  border: solid 1px #660066 !important;
  display: flex;
  justify-content: center;
}

.boton-cards:hover {
  color: white !important;
  background-color: #660066 !important;
  border: solid 1px #FFC2FF !important;
}

/* MIXIN */
/* CARDS Y TIENDA */
.shop-card {
  padding: 30px;
}

/* REDES */
.titleh2-container {
  text-align: center;
}

.titleh2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.socialmedia-container {
  padding: 40px;
}

.item-container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.socialmediatext {
  text-align: center !important;
  font-family: Arial, Helvetica, sans-serif !important;
  padding-top: 60px;
}

/* MIXIN */
/* MIXIN */
.icon-socialmedia {
  padding: 30px;
  font-size: 120px;
  text-decoration: none;
  color: purple;
}
.icon-socialmedia:hover {
  color: #990099;
  text-shadow: #660066 1px 1px 3px;
}

.form {
  align-items: center;
}

.contactus-h2 {
  text-align: center;
}

form .grupo {
  position: relative;
  margin: 45px;
}

input, textarea {
  background: none;
  color: #660066;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  color: #660066;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #ff8fff;
}

label {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input:focus ~ .barra::before, textarea:focus ~ .barra::before {
  width: 100%;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #FFC2FF, #660066);
  transition: 2s ease all;
  left: 0%;
}

button {
  background: #990099;
  background: -webkit-linear-gradient(to right, #4d004d, #990099);
  background: linear-gradient(to right, #4d004d, #330033);
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #ffdcff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
