@import '../base/variables' ; 
@import '../base/mixin' ; 


/* FOOTER */

.footercontainer {
    background-color: $footer-color;
    border-top: solid 2px $border-color !important;
}



.pull-left {
    margin-left: 15px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.footer-title {
    font-size: 18px;
    color: lighten($border-color, $amount: 5);
}

.footer-address {
    padding-top: 30px;
    color: white;
}

.phone {
    text-decoration: none;
    color: white;
    &:hover {
        color: $border-color;
    }
}

.pull-rigth {
    margin-right: 15px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.icon {
    padding-inline-start: 20px;
    font-size: 30px;
    text-decoration: none;
    color: lighten($border-color, $amount: 5);
    &:hover {
        color: $border-color;
        text-shadow: lighten($border-color, $amount: 10) 1px 1px 3px;
    }
}