@import '../base/variables' ; 
@import '../base/mixin' ; 

/* HEADER */


.headercontainer {
    background-color: $bg-color;
    border-bottom: $border-color 2px solid !important;
}

.title { 
    text-shadow: $font-color 1px 1px;
}

.boton-header {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    color: $hoverfont-color !important;
}

.navbar-toggler-icon {
    color: $hoverfont-color !important;
}

.nav-item {
    padding-inline-start: 10px !important;
}

.headeritem {
    color : $font-color !important;
    
    &hover {
        color : $hoverfont-color !important;
    }
}
