@import '../base/variables' ; 
@import '../base/mixin' ; 

/* MIDSECTION */

.section-central {
    padding: 40px;
    background-color: $midbg-color;

}



/* CAROUSEL */
.carouselfont {
    color: black;
}

.carouselbox {
    margin: 20px;
    border: lighten($border-color, $amount: 5) 2px solid !important;
}

.banner {
    margin-top: 30px;
    padding: 40px 0;
    align-items: center;
}

.banner-item {
    display: flex;
    justify-content: center;
}

.banner-text {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* CARDS */

.cardbox-index {
    border: lighten($border-color, $amount: 5) 2px solid !important;
    
}

.card-container {
    padding: 150px 20px;
}

.card-title{
    text-align: center;
    color: $font-color;
}

.boton-cards{
    color: $font-color !important;
    background-color: $border-color;
    margin: 12px;
    padding: 4px;
    border: solid 1px $font-color !important;
    display: flex;
    justify-content: center;

}


.boton-cards:hover {
    color: white !important;
    background-color: $font-color !important;
    border: solid 1px $border-color !important;
}