@import '../base/variables' ; 
@import '../base/mixin' ; 

/* MIDSECTION */

.section-central {
    padding: 40px;
    background-color: $midbg-color;

}


/* CAROUSEL */
.carouselfont {
    color: black;
}

.carouselbox {
    margin: 20px;
    border: lighten($border-color, $amount: 5) 2px solid !important;
}

.carousel-title { 
    font-size: 24px;
    color: lighten($border-color, $amount: 5);
    text-shadow: black 1px 1px 10px;
}

.banner {
    margin-top: 30px;
    padding: 40px 0;
    align-items: center;
}

.banner-item {
    display: flex;
    justify-content: center;
}

.banner-text {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* NOSOTROS TITLE */

 

.titlenosotros-container {
    @include transition(2s) ;
    margin-top: 40px;
    padding: 60px;
    &hover {
        @include transform(scale(2)) ;
    }
}

.nosotros-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: darken($border-color, $amount: 10);
    text-shadow: black 1px 1px 3px;
    
}



/* CARDS */

.cardbox-index {
    border: lighten($border-color, $amount: 5) 2px solid !important;
    
}

.card-aling {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.card-container {
    padding: 40px 20px;
}

.card-title{
    font-size: 20px;
    text-align: center;
    color: $font-color;
}

.boton-cards{
    color: $font-color !important;
    background-color: $border-color;
    margin: 12px;
    padding: 4px;
    border: solid 1px $font-color !important;
    display: flex;
    justify-content: center;

}


.boton-cards:hover {
    color: white !important;
    background-color: $font-color !important;
    border: solid 1px $border-color !important;
}