
@mixin transition($propiedad) {

    -webkit-transition: $propiedad  ;
    -o-transition: $propiedad ;
    -moz-transition: $propiedad ;
    transition: $propiedad ;
    
}


@mixin transform($propiedad) {

    -webkit-transform: $propiedad ;
    -moz-transform: $propiedad ;
    -o-transform: $propiedad ;
    transform: $propiedad ;
    
}


@mixin decoration($propiedad) {
    text-decoration: none;
    list-style: none;
}
