$border-color : #FFC2FF;
$bg-color : #FFD6FF;
$font-color : #660066;
$hoverfont-color: #FF99FF;
$midbg-color: #FFEBFF;
$footer-color: #3D003D;


$maps: (
    instagram: #FF4747,
    whatsapp: #77FF5C,
    gmail: #FFB65C,


)